.txt-nav-themes {
   margin-left: 250px;
   font-size: 34px;
   color: black;
   text-decoration: none !important;
   background-color: rgb(255, 123, 0);
   padding: 10px 25px 10px 25px;
   border-radius: 10px;
   margin-top: 35px;
}

.txt-nav-themes:hover {
   color: white;
}

.themes-judul h1 {
   font-weight: bold;
   width: 900px;
   font-size: 72px;
   text-align: center;
   margin: auto;
   margin-top: 30px;
}

.themes-judul p {
   width: 900px;
   font-size: 34px;
   text-align: center;
   margin: auto;
   margin-bottom: 30px;
}

.order-now-box {
   width: 250px;
   height: 100px;
   background-color: rgb(255, 123, 0);
   margin: auto;
   margin-bottom: 50px;
   border-radius: 15px;
   position: relative;
}

.order-now-box a {
   position: absolute;
   top: 25px;
   left: 40px;
   font-size: 34px;
   color: black;
   font-weight: bold;
   text-decoration: none !important;
}

/* ---------------graduation-------------- */
.theme-graduation {
   height: 1400px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   padding: 20px;
}

.grad-item1 {
   grid-column: 1/3;
}

.grad-item1 img {
   width: 640px;
}

.grad-item2 img {
   height: 450px;
   width: 300px;
}

.grad-item3 img {
   height: 450px;
   width: 300px;
}

/* ----------------Wedding------------------ */

.theme-wedding {
   height: 1400px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   padding: 20px;
}

.wed-item3 {
   grid-column: 3 / span 2;
}

.wed-item10 {
   grid-column: 1 / span 2;
}

/* ------------Family-------------------0 */
.theme-family {
   height: 950px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   padding: 20px;
}

.fam-item3 {
   grid-column: 3 / span 2;
}

.fam-item6 {
   grid-column: 3 / span 2;
}

/* -----------Group------------------ */
.theme-group {
   height: 1250px;
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 20px;
}

/* --------------Kids----------- */

.theme-kids {
   height: 1800px;
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 20px;
   grid-gap: -30px;
}

.kids-item1{
   grid-column: 1 / span 2;
}

.theme-kids img{
   width: 90%;
}

/* ----------------Friends--------------- */

.theme-friends {
   height: 1800px;
   display: grid;
   grid-template-columns: auto auto ;
   padding: 20px;
}

/* -------Uniform------------- */
.theme-uniform {
   height: 2800px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   padding: 20px;
}

.uniform-item3{
   grid-column: 3 / span 2;
}

.uniform-item4{
   grid-column: 1 / span 2;
}

.uniform-item9{
   grid-column: 3 / span 2;
}
.uniform-item10 {
   grid-column: 1 / span 2;
}
.uniform-item11 {
   grid-column: 3 / span 2;
}
.uniform-item12 {
   grid-column: 1 / span 2;
}
.uniform-item15 {
   grid-column: 1 / span 2;
}
.uniform-item16 {
   grid-column: 3 / span 2;
}